bleach==2.1.2
certifi==2018.1.18
chardet==3.0.4
cymem==1.31.2
cytoolz==0.8.2
decorator==4.2.1
dill==0.2.7.1
en-core-web-sm==2.0.0
entrypoints==0.2.3
ftfy==4.4.3
html5lib==1.0.1
idna==2.6
ipykernel==4.8.1
ipython==5.0.0
ipython-genutils==0.2.0
ipywidgets==7.1.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
MarkupSafe==1.0
mistune==0.8.3
msgpack-numpy==0.4.1
msgpack-python==0.5.4
murmurhash==0.28.0
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.4.0
numpy==1.14.0
pandocfilters==1.4.2
pathlib==1.0.1
pexpect==4.4.0
pickleshare==0.7.4
plac==0.9.6
preshed==1.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
python-dateutil==2.6.1
pyzmq==17.0.0
qtconsole==4.3.1
regex==2017.4.5
requests==2.18.4
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
spacy==2.0.8
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
thinc==6.10.2
toolz==0.9.0
tornado==4.5.3
tqdm==4.19.5
traitlets==4.3.2
ujson==1.35
urllib3==1.26.5
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.1.4
wrapt==1.10.11
